.mainContent {
  padding: 35px;
  // height: calc(100vh - #{$headerHeight + 1px});
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;

  .contentBody {
    min-height: calc(100vh - #{$headerHeight});
    height: auto;
  }

  // @include tabletDown {
  //   padding: (60px + $mobile) $mobile $mobile $mobile;
  // }
}